# import sqlite3
from sqlite3 import Error
import os

def createConnection(path):
    connection = None 
    try: 
        connection = sqlite3.connect(path)
        print(sqlite3.version)
        return connection
    except Error as e:
        print(e)

In [ ]:
here = os.path.abspath('.')
file_db = os.path.abspath('./data/stocks.db')
conn = createConnection(file_db)

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('''select name from sqlite_master where type = 'table';''')

In [ ]:
tables = cur.fetchall()

In [ ]:
tables

In [ ]:
cur.execute(''' select * from T_mst_STOCK ''')
stock_details = cur.fetchall()

In [ ]:
stock_details

In [ ]:
with open('./data/bse.txt','w') as bse:
    for data in stock_details:
        bse.writelines(str(data[0]+','+str(data[1]+'\n')))
    bse.close()

In [1]:
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime,date
import matplotlib.pyplot as plt
from matplotlib import style
import time

In [3]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"

querystring = {"symbol":"TITAN.NS","region":"IN"}

headers = {
    'x-rapidapi-key': "38aa509021mshbf050eca199e6aep10f687jsnc62ddec342a5",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

# print(response.text)

In [6]:
got = response.json()

In [7]:
got.keys()

dict_keys(['prices', 'isPending', 'firstTradeDate', 'id', 'timeZone', 'eventsData'])

In [8]:
got['prices'][0].keys()

dict_keys(['date', 'open', 'high', 'low', 'close', 'volume', 'adjclose'])

In [16]:
got['firstTradeDate']

(820467900, False)

In [ ]:
#with open('./data/icici_bank.json','w') as writeFile:
#    json.dump(got,writeFile)

with open('./data/icici_bank.json','rb') as readFile:
    got = json.load(readFile)
    readFile.close()

In [ ]:
BB

In [17]:
def getTickers(get='\n',dataFile='./data/final_ticker.txt'):
    with open(dataFile,'r') as tickFile:
        lines = tickFile.readlines()
    if (get == ' '):
        tickers = ' '.join([ i.split(',')[-1][:-1] for i in lines])
    else:
        tickers = [ i.split(',')[-1][:-1] for i in lines]
    return tickers

In [1]:
import yfinance as yf
import pickle
import pandas as pd

In [15]:
def getHist(tickers,saveFile='./got.pickle'):
    import yfinance as yf
    params = {
        "tickers" : tickers,
        "period" : "max",
        "interval" : "1d",
        "group_by" : "ticker"
    }
    got = yf.download(**params)
    with open(saveFile,'wb') as pic:
        pickle.dump(got,pic,-1)
    return got

In [62]:
index = [ i.split(',')[-1][:-1] for i in lines]

In [66]:
got[index[4]]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-02,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-03,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-04,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2021-02-25,850.750000,856.700012,820.049988,826.500000,826.500000,10911.0
2021-02-26,825.000000,835.799988,796.299988,807.549988,807.549988,11487.0
2021-03-01,807.900024,820.650024,807.900024,814.450012,814.450012,3685.0
2021-03-02,805.549988,837.000000,805.549988,822.450012,822.450012,7216.0
2021-03-03,826.599976,842.900024,814.450012,816.299988,816.299988,6266.0

In [5]:
indexes = [ i.split(',')[-1][:-1] for i in lines]

In [12]:
got[indexes[4]].loc[got[indexes[4]].first_valid_index():]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2002-07-01,62.349998,62.799999,59.049999,61.500000,57.812386,8154.0
2002-07-02,61.000000,62.500000,61.000000,61.500000,57.812386,5718.0
2002-07-03,63.000000,63.500000,60.599998,60.950001,57.295364,6038.0
2002-07-04,60.150002,61.299999,60.000000,60.200001,56.590340,7780.0
2002-07-05,61.700001,62.000000,60.299999,61.549999,57.859383,11029.0
...,...,...,...,...,...,...
2021-02-25,850.750000,856.700012,820.049988,826.500000,826.500000,10911.0
2021-02-26,825.000000,835.799988,796.299988,807.549988,807.549988,11487.0
2021-03-01,807.900024,820.650024,807.900024,814.450012,814.450012,3685.0
2021-03-02,805.549988,837.000000,805.549988,822.450012,822.450012,7216.0
2021-03-03,826.599976,842.900024,814.450012,816.299988,816.299988,6266.0

In [34]:
icici = got['ICICIBANK.NS'][got['ICICIBANK.NS'].first_valid_index():]

$\pi^2 \approx g$

### Tensorflow in action 
    1. Importing
    2. converting df to tensor
    3. compiling the models
    4. running tests
    5. generate results
    6. Create funcs to automate everything / Class
    7. Create funcs to have a realtime testing and stuff

In [40]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [44]:
date_time = pd.to_datetime(icici.index,format='%d.%m.%Y %H:%M:%S')

In [45]:
date_time

DatetimeIndex(['2002-07-01', '2002-07-02', '2002-07-03', '2002-07-04',
               '2002-07-05', '2002-07-08', '2002-07-09', '2002-07-10',
               '2002-07-11', '2002-07-12',
               ...
               '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23',
               '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01',
               '2021-03-02', '2021-03-03'],
              dtype='datetime64[ns]', name='Date', length=4640, freq=None)

In [60]:
from datetime import datetime

In [71]:
pd.to_timedelta(30,unit='d')

Timedelta('30 days 00:00:00')

In [72]:
help(pd.timedelta_range)

Help on function timedelta_range in module pandas.core.indexes.timedeltas:

timedelta_range(start=None, end=None, periods=None, freq=None, name=None, closed=None) -> pandas.core.indexes.timedeltas.TimedeltaIndex
    Return a fixed frequency TimedeltaIndex, with day as the default
    frequency.

    Parameters
    ----------
    start : str or timedelta-like, default None
        Left bound for generating timedeltas.
    end : str or timedelta-like, default None
        Right bound for generating timedeltas.
    periods : int, default None
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'.
    name : str, default None
        Name of the resulting TimedeltaIndex.
    closed : str, default None
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None).

    Returns
    -------
    rng : TimedeltaIndex

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``TimedeltaIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------

    >>> pd.timedelta_range(start='1 day', periods=4)
    TimedeltaIndex(['1 days', '2 days', '3 days', '4 days'],
                   dtype='timedelta64[ns]', freq='D')

    The ``closed`` parameter specifies which endpoint is included.  The default
    behavior is to include both endpoints.

    >>> pd.timedelta_range(start='1 day', periods=4, closed='right')
    TimedeltaIndex(['2 days', '3 days', '4 days'],
                   dtype='timedelta64[ns]', freq='D')

    The ``freq`` parameter specifies the frequency of the TimedeltaIndex.
    Only fixed frequencies can be passed, non-fixed frequencies such as
    'M' (month end) will raise.

    >>> pd.timedelta_range(start='1 day', end='2 days', freq='6H')
    TimedeltaIndex(['1 days 00:00:00', '1 days 06:00:00', '1 days 12:00:00',
                    '1 days 18:00:00', '2 days 00:00:00'],
                   dtype='timedelta64[ns]', freq='6H')

    Specify ``start``, ``end``, and ``periods``; the frequency is generated
    automatically (linearly spaced).

    >>> pd.timedelta_range(start='1 day', end='5 days', periods=4)
    TimedeltaIndex(['1 days 00:00:00', '2 days 08:00:00', '3 days 16:00:00',
                '5 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)